ClientdotNET/ClientdotNET/Connected Services/ServiceReference1/BanqueWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BanqueWS" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8686/?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="getCompte">
    <part name="parameters" element="tns:getCompte" />
  </message>
  <message name="getCompteResponse">
    <part name="parameters" element="tns:getCompteResponse" />
  </message>
  <message name="ConversionEuroToDh">
    <part name="parameters" element="tns:ConversionEuroToDh" />
  </message>
  <message name="ConversionEuroToDhResponse">
    <part name="parameters" element="tns:ConversionEuroToDhResponse" />
  </message>
  <message name="listCompte">
    <part name="parameters" element="tns:listCompte" />
  </message>
  <message name="listCompteResponse">
    <part name="parameters" element="tns:listCompteResponse" />
  </message>
  <portType name="BqService">
    <operation name="getCompte">
      <input wsam:Action="http://ws/BqService/getCompteRequest" message="tns:getCompte" />
      <output wsam:Action="http://ws/BqService/getCompteResponse" message="tns:getCompteResponse" />
    </operation>
    <operation name="ConversionEuroToDh">
      <input wsam:Action="http://ws/BqService/ConversionEuroToDhRequest" message="tns:ConversionEuroToDh" />
      <output wsam:Action="http://ws/BqService/ConversionEuroToDhResponse" message="tns:ConversionEuroToDhResponse" />
    </operation>
    <operation name="listCompte">
      <input wsam:Action="http://ws/BqService/listCompteRequest" message="tns:listCompte" />
      <output wsam:Action="http://ws/BqService/listCompteResponse" message="tns:listCompteResponse" />
    </operation>
  </portType>
  <binding name="BqServicePortBinding" type="tns:BqService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getCompte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConversionEuroToDh">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listCompte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BanqueWS">
    <port name="BqServicePort" binding="tns:BqServicePortBinding">
      <soap:address location="http://localhost:8686/" />
    </port>
  </service>
</definitions>